services:
  bresser-bridge:
    build: .
    container_name: bresser_mqtt_bridge
    restart: unless-stopped
    network_mode: host
    environment:
      - APP_VERSION=0.3.1
      - LOG_LEVEL=DEBUG
      - MQTT_BROKER=192.168.178.2
      - MQTT_PORT=1883
      - MQTT_USER=bresser
      - MQTT_PASS=${MQTT_PASS}
      - ENABLE_ARP=false
    volumes:
      - ./certs:/app/certs